
<form  action="/yourorders" method="post">
    <label >
        <input type="text" name="title" value="{{this.name}}">
        <span>Название </span>
    </label>

     <label >
        <input type="text" name="description" value="{{this.name}}">
        <span>Описание </span>
    </label>

      <label >
        <input type="text" name="category" value="{{this.name}}">
        <span>Категория </span>
    </label>

  <label >
        <input type="text" name="district" value="{{this.name}}">
        <span>Регион </span>
    </label>
      <label >
        <input type="text" name="city" value="{{this.name}}">
        <span>Город</span>
    </label>
    <button type="submit" class="button dark">Опубликовать</button>
</form>