
<form  action="/yourprofile">
    <label >
        <input type="text" name="name" value="{{this.name}}">
        <span>Название </span>
    </label>

     <label >
        <input type="text" name="name" value="{{this.name}}">
        <span>Описание </span>
    </label>

      <label >
        <input type="text" name="name" value="{{this.name}}">
        <span>Категория </span>
    </label>

  <label >
        <input type="text" name="name" value="{{this.name}}">
        <span>Регион </span>
    </label>
      <label >
        <input type="text" name="name" value="{{this.name}}">
        <span>Город</span>
    </label>
    <button type="submit" class="button dark">Опубликовать</button>
</form>