<h1>{{this.name}}</h1>

<h2>Заказ</h2>
<p>Описание заказа</p>
<p>Информация о заказчике</p>
<p>Контакты заказчика (скрытый)</p>
<form method="???" action="???"> <input type="submit" value="Выполнить заказ(скрытый)" tabindex="3"
        class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
<form method="post" action="/article/redir"> <input type="submit" value="Зарегистрируйтесь, чтобы откликнуться на заказ" tabindex="3"
        class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
<p class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Вы уже откликнулись на этот заказ(скрытый)</p>





<ul>
    {{#each this.advertisements}}
    <li>
        <div>
            <a>
                <a href="/{{this.category}}/{{this.id}}">Name: {{this.title}} </a>
                <div>Description: {{this.description}}</div>
                <div>Location: {{this.district}}</div>
                <div>Expiring date: {{this.expDate}}</div>
        </div>
    </li>
    </div>
    {{/each}}
</ul>