<h1>{{this.name}}</h1>

  <h2>Мои заказы</h2>
  <table>
    <tr>
      <th class="title">Объявление:</th>
      <th class="title">Округ:</th>
      <th class="title">Город:</th>
    </tr>
  </table>
<div> {{#each addsinfo}}


  <table>
    
    <tr>
      <th><a href="/ad/{{this.id}}">
        {{this.title}}
      </a></th>
      <th>{{this.district}}</th>
      <th>{{this.city}}</th>
      {{!-- <th><button>Посмотреть отклики</button></th> --}}
    </tr>

{{#each this.responses}}

    <tr>
     
      <td class="bright">{{this.authorName}}</td >
      <td>{{this.price}}</td>
      <td class="change">
        
<form  method="post" action="/ad/{{this.id}}"> <input class="change" id="tableinp2" type="submit" value="Выбрать поставщика" tabindex="3"
        class={{this.id}}>
</form>

      </td>
    </tr>
{{/each}}
  </table>
  {{/each}}
</div>

<form method="get" action="/yourorders/addorder"> <input type="submit" value="Создать новый заказ" tabindex="3"
        class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>