<h1>{{this.name}}</h1>

  <h2>Мои заказы</h2>
<div> {{#each addsinfo}}


  <table class="maintable">
    
    <tr class="maintr">
      <th><a href="/ad/{{this.id}}">
      
        {{this.title}}
      </a></th>
      <th>{{this.district}}</th>
      <th>{{this.city}}</th>
      {{!-- <th><button>Посмотреть отклики</button></th> --}}
    </tr>

{{#each this.responses}}

    <tr class="maintable">
      <td>{{this.authorName}}</td >
      <td>{{this.price}}</td>
      <td>
        
<form method="post" action="/ad/{{this.id}}"> <input id="tableinp" type="submit" value="Выбрать поставщика" tabindex="3"
        class={{this.id}}>
</form>

      </td>
    </tr>
{{/each}}
  </table>
  {{/each}}
</div>